.container {
    width: 50%;
    margin: 0 auto;

  }
  
  .form-contact {
    width: 70%;
    font-family: "Arial", Times, serif;
    color: #292929;
    background-color: #38d39f;
    border-radius: 20px;
    
  }
  
  .form-contact-input {
    width: 70%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    
    
  }


  
  .form-contact-textarea {
    width: 70%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
  }










  
  .form-contact-button {
    
    width: 30%;
    font-size: 18px;
    border-radius: 20px;
    color: rgb(250, 250, 250);
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #0c0c0c;
    display: block;
    border: none;
    border-bottom: 1px solid  #0c0c0c;
    border-right: 1px solid  #0c0c0c;
    transition: 1s;
  }
  
  .form-contact-button:hover {
    opacity: 1;
  }






  